name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-venv

      - name: Install Poetry
        run: |
          sudo pip3 install --system setuptools
          sudo pip3 install --system poetry

      - uses: actions/checkout@v1

      - name: Create venv
        run: make install

      - name: Validate
        run: make check

      - name: Lint
        run: make lint-prod

      - name: Test
        run: make tests
