name: py2verify

on: [push, pull_request]

jobs:
  verify:
    runs-on: ubuntu-18.04

    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '2.7'
          architecture: x64

      - name: Install Poetry
        run: python -m pip install virtualenv setuptools poetry

      - name: Confirm Environment
        run: |
          which poetry
          poetry --version
          python -m poetry --version
          which python
          python --version

      - name: Checkout
        uses: actions/checkout@v1

      - name: Create venv
        working-directory: py2verify
        run: make venv install

      - name: Test
        working-directory: py2verify
        run: make tests

      - name: Validate
        working-directory: py2verify
        run: make check
